<!DOCTYPE html>
<html>
    <head>
        <title>Contact Select</title>
        <%- include ./partials/header %>
    </head>
    <body>
        <div class="container text-center">
            <h1> Select Contacts</h1>
        </div>
        <div class="container">
            <form id="contactSelectForm" method="POST" action="contactselect/submit">
                <input 
                    type="hidden"
                    name="selectedContacts"
                    id="selectedContacts"
                    value="";
                />
                <% for (let i=0; i < userData.length; i++) { %>
                <div class="row justify-content-center align-items-center mb-1 p-1 border">
                    <div class="col">
                        <img src=<%= profilePic[i] %> /> 
                    </div>

                    <div class="col-7">
                        <h2 id="name_"><%= userData[i].name %></h2>
                        <h2 id="phone_>"><%= phones[i] %></h2>
                    </div>

                    <div class="col d-flex justify-content-center align-items-center">
                        <input 
                            type="checkbox"
                            name="selector_"
                            id="selector_"
                            class="form-check-input fs-1"
                            style="border: 2px solid #343a40; border-radius: 4px;"
                        />
                    </div>

                </div>
                <% } %>
                <div class="row justify-content-center align-items-center mb-1 p-1">
                    <!-- TODO: Add confimation before submit -->
                    <input type="submit" name="submit" class="btn btn-primary btn-lg"/>
                </div>
            </form>
        </div>
        <%- include ./partials/scripts %>
        <!-- DOM Selector Logic Script -->
        <script type="text/javascript">
            // I wish I knew a cooler way of doing this but this will do
            $(document).ready(function () {
                // Updates the names of the ids
                $('[id^="name_"]').each(function (index) {
                    $(this).attr('id', 'name_' + index);
                });
                $('[id^="phone_"]').each(function (index) {
                    $(this).attr('id', 'phone_' + index);
                });
                $('[id^="selector_"]').each(function (index) {
                    $(this).attr('id', 'selector_' + index);
                    $(this).attr('name', 'selector_' + index);
                    // Sets checker box to change the selectedContacts value to add or remove the selected contact
                    $(this).change(function () {
                        let currentSelection = $('#selectedContacts').val();
                        let contactString = "[" + $('#name_' + index).text() + ", " + $('#phone_' + index).text() + "]";
                        if (this.checked) {
                            $('#selectedContacts').val(
                                currentSelection + contactString);
                        } else {
                            $('#selectedContacts').val(
                                currentSelection.replace(contactString, ""));
                        }
                    });
                });

            });
        </script>
    </body>
</html>